---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import { SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<DefaultLayout title="Blog" description={SITE_DESCRIPTION}>
  <main>
    <section>
      <ul>
        {
          posts.map((post) => (
            <li>
              <FormattedDate date={post.data.pubDate} />
              <a
                href={`/articles/${post.slug}/`}
                class="visited:text-purple-700">
                {post.data.title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </main>
</DefaultLayout>
