---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="404">
  <div class="text-center">
    <h1>404</h1>
    <p class="mb-8">Page not found</p>
    <a
      href="/"
      class="inline-block rounded-xl bg-blue-400 px-4 py-2 font-bold text-white hover:bg-blue-700"
      >Return Home</a
    >
  </div>
</DefaultLayout>
