---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="About" description="Lorem ipsum dolor sit amet">
  <p>
    Hey, I'm Brian. I'm an aspiring web developer that's passionate about
    creating fast and functional websites and applications. Outside of work, I
    enjoy staying active and practicing a healthy lifestyle. I'm particularly
    interested in fitness and love to try out new workout routines. I'm also a
    bit of a keyboard enthusiast and enjoy tinkering with different mechanical
    switches and keycaps. In my free time, I like to listen to music and
    discover new artists across various genres.
  </p>
</Layout>
