---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import BookList from '../components/BookList';
---

<DefaultLayout title="Bookshelf">
  <h1 class="text-center text-4xl pb-5 sm:pb-10">Bookshelf</h1>
  <p class="text-center text-xl pb-5 sm:pb-10">
    All the books I read are digital so here is where I keep all my books to
    look back on. Maybe one day I will write my thoughts on each but for now,
    enjoy the view.
  </p>
  <BookList client:load />
</DefaultLayout>
