---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Bookshelf from "../components/Bookshelf.astro";
---

<DefaultLayout title="Home">
  <div class="space-y-32">
    <Hero />
    <div id="projects">
      <Projects />
    </div>
    <div id="bookshelf">
      <Bookshelf />
    </div>
  </div>
</DefaultLayout>
