---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>Hello, I'm Brian</h1>
      <h3>Welcome to my digital realm, where creativity meets technology.</h3>
      <p>
        Welcome to briang.xyz, the online hub of Brian G, a passionate
        developer, designer, and innovator. This website serves as a platform to
        showcase my work, share my experiences, and connect with like-minded
        individuals. I invite you to explore my portfolio, delve into my blog,
        and learn more about the projects I've brought to life.
      </p>
    </main>
    <Footer />
  </body>
</html>
