---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import SnakeGame from '../components/SnakeGame';
---

<DefaultLayout title="Snake">
  <div class="space-y-32">
    <SnakeGame client:only />
  </div>
</DefaultLayout>
