---
import BookList from "../components/BookList";
---

<>
  <p class="pb-5 text-center text-xl sm:pb-10">
    All the books I read are digital so this is where I keep all my books to
    look back on. Maybe one day I will write my thoughts on each but for now,
    enjoy the view.
  </p>
  <BookList client:only />
</>
