---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header class="flex justify-center">
  <nav class="flex space-x-10 items-center border-b-2 border-blue-300 mb-10">
    <h2 class="font-bold text-lg">
      {SITE_TITLE}
    </h2>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="https://github.com/brian-gee" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
