---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a
  href={href}
  class:list={[
    className,
    { 'font-bold': isActive },
    'text-gray-500 hover:text-gray-900',
  ]}
  {...props}>
  <slot />
</a>
