<div class="pt-20 sm:pt-32 grid text-center space-y-4 sm:space-y-8">
  <h1 class="text-4xl sm:text-7xl">Hi there, I'm Brian</h1>
  <h3 class="text-3xl sm:text-5xl text-gray-400">I build the web</h3>
</div>
